.gameboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for 4 cards */
    gap: 1rem; /* Space between cards */
    justify-content: center;
    margin: 1rem auto;
    background-color: #640404; 
}
